{% extends 'base.html' %}
{% load static %}

{% block nav_about %}
<li class="nav-item active">
    <a class="nav-link" href="#">درباره ما</a>
</li>
{% endblock nav_about %}
    
{% block content %}    
        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="custombox clearfix">
                            <div class="about-text">
                                <div class="invis">
                                    <h4 class="small-title">درباره ما</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for author in authors %}
                        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-2 {% cycle 'offset-lg-3' '' '' %} text-center">
                            <div class="img">
                                <img src="{% if author.profile.profile_picture %} {{ author.profile.profile_picture.url }} {% else %}{% static 'images/favicon.png' %}{% endif %}" alt="{{ author.first_name}} {{ author.last_name }}" class="profile">
                                <div class="name">
                                    <p>
                                        {{ author.first_name}} {{ author.last_name }}

                                    </p>
                                </div>
                                <div class="role">
                                    <p>
                                        <b>
                                           {{ author.profile.profession }}

                                        </b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div><!-- end container -->
        </section>
{% endblock content %}