{% for item in page_obj %}

<div class="blog-box row">
  <div class="col-md-4">
    <div class="post-media">
      <a href="single.html" title="">
        <img src="{{item.image}}" alt="" class="img-fluid" />
        <div class="hovereffect"></div>
      </a>
    </div>
    <!-- end media -->
  </div>
  <!-- end col -->

  <div class="blog-meta big-meta col-md-8">
    <span class="bg-aqua"
      ><a href="garden-category.html" title="">دورهمی</a></span
    >
    <h4><a href="single.html" title="">{{item.title}}</a></h4>
    <p>{{item.content}}</p>
    <small
      ><a href="garden-category.html" title=""
        ><i class="fa fa-eye"></i> ۳۲۳۲</a
      ></small
    >
    <small><a href="single.html" title="">{{item.date}}</a></small>
    <small><a href="#" title="">ارائه: {{item.presenter}}</a></small>
  </div>
  <!-- end meta -->
</div>
<!-- end blog-box -->

<hr class="invis" />
{% endfor %}
