{% extends 'base.html' %}
{% load static %}
    {% block content %}

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">
                                <div id="bloglist">
                                {% for item in page_obj %}
                                
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="post?id={{item.id}}" title="">
                                                <img src="{{ item.image.url }}" alt="" class="img-fluid" />
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div>
                                        <!-- end media -->
                                    </div>
                                    <!-- end col -->
                                
                                    <div class="blog-meta big-meta col-md-8">
                                        <span class="bg-aqua"><a href="garden-category.html" title="">مطلب</a></span>
                                        <h4><a href="post?id={{item.id}}" title="">{{item.title}}</a></h4>
                                        <p>{{item.content}}</p>
                                        <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> {{ item.hit_count.hits }}</a></small>
                                        <small><a href="post?id={{item.id}}" title="">{{item.date}}</a></small>
                                        <small><a href="#" title="">توسط: {{ item.author.first_name }} {{ item.author.last_name }}</a></small>
                                    </div>
                                    <!-- end meta -->
                                </div>
                                <!-- end blog-box -->
                                
                                <hr class="invis" />
                                {% endfor %}
                                
                                </div>

                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        {% for num in num_pages %}
                                        <li onclick="getPagination('{{num|add:1}}')" class="page-item"><span class="page-link">{{num|add:1}}</span></li>
                                        {% endfor %}
                                        <li class="page-item">
                                            <a class="page-link" href="#">بعدی</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widget-title">جستجو</h2>
                                <form id="myform" action="/search" method="GET" class="form-inline search-form">
                            
                                    <div class="form-group">
                                        <input name="search_term" type="text" class="form-control" placeholder="جستجو در سایت" />
                                    </div>
                                    <button onclick="document.getElementById('myform').submit();" type="submit" class="btn btn-primary"><i
                                            class="fa fa-search"></i></button>
                            
                                </form>
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">پست های اخیر</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for item in latest_Posts %}
                                        <a href="post?id={{item.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ item.image.url }}" alt="" height="55" width="55" class="float-left">
                                                <h5 class="mb-1">{{item.title}}</h5>
                                                <small>{{item.date}}</small>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">بنر مناسبتی (جشن ۳ سالگی)</h2>
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="{% static 'upload/banner_04.jpg'%}" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">آلبوم تصاویر</h2>
                                <div class="instagram-wrapper clearfix">
                                    {%for item in event_images%}
                                    <a href="{{ item.image.url }}"><img src="{{ item.image.url }}" alt="" height="80" width="80"></a>
                                    {%endfor%}
                                </div><!-- end Instagram wrapper -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">بهترین دسته بندی ها</h2>
                                <div class="link-widget">
                                    <ul>
                                        {% for category in recent_categories %}
                                        <li><a href="category?id={{ category.id }}">{{ category.title }}<span>({{ category.post_set.count }})</span></a></li>
                                        {% endfor %}
                                    </ul>
                                </div><!-- end link-widget -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
    {% endblock content %}