{% extends 'base.html' %}
{% load static %}

{% block nav_gallery %}
<li class="nav-item active">
    <a class="nav-link" href="#">گالری تصاویر</a>
</li>
{% endblock nav_gallery  %}

{% block content %}    
        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-leaf bg-green"></i> گالری تصاویر</h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active">گالری</li>
                        </ol>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                        <div class="text-center">
                            <button class="btn btn-primary" data-filter="all">همه</button>
                            <button class="btn btn-primary" data-filter="hdpe">دورهمی‌ها</button>
                            <button class="btn btn-primary" data-filter="sprinkle">جشن‌ها</button>
                        </div>
                    </div>
                    <br>
                    {% for photo in photos %}
                    {% if photo.event.event_type == "دورهمی"%}
                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <a href="{{ photo.image.url }}"><img src="{{ photo.image.url }}" alt="{{photo.event.title}}" height="365" width="365" class="img-responsive"></a>
                    </div>
                    {%elif photo.event.event_type == "جشن"%}
                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                        <a href="{{ photo.image.url }}"><img src="{{ photo.image.url }}" alt="{{photo.event.title}}" height="365" width="365"  class="img-responsive"></a>
                    </div>
                    {%endif%}
                    {%endfor%}
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            $(".btn-primary").click(function () {
                var value = $(this).attr('data-filter');

                if (value == "all") {
                    //$('.filter').removeClass('hidden');
                    $('.filter').show('1000');
                }
                else {
                    //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                    //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

            if ($(".btn-primary").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");

        });
    </script>
{% endblock scripts %}