{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-title-area">
                        <h3>{{post.title}}</h3>
                        <div class="blog-meta big-meta">
                            <small><a href="single.html" title="">{{ post.date }}</a></small>
                            <small><a href="blog-author.html" title="">توسط {{post.author.first_name}} {{ post.author.last_name }}</a></small>
                            <small><a href="#" title=""><i class="fa fa-eye"></i> {{ hits }}</a></small>
                        </div><!-- end meta -->
                    </div><!-- end title -->

                    <div class="single-post-media">
                        <img src="{{ post.image.url }}" alt="" class="img-fluid">
                    </div><!-- end media -->

                    <div class="blog-content">
                        <div class="pp">
                            <p>{{post.text}}</p>
                        </div><!-- end pp -->

                    </div><!-- end content -->

                    <div class="blog-title-area">
                        <div class="tag-cloud-single">
                            <span>تگ‌ها</span>
                        {% for tag in categories %}
                            <small><a href="category?id={{ tag.id }}" title="">{{ tag.title }}</a></small>
                        {% endfor %}
                        </div><!-- end meta -->
                        
                        <div class="post-sharing">
                            <ul class="list-inline">
                                <li><a href="#" class="fb-button btn btn-primary"  data-show-count="false"><i class="fa fa-facebook"></i>
                                        <span class="down-mobile">ارسال به فیسبوک</span></a></li>
                                <li><a href="https://twitter.com/share?text={{post.title}}&url=http://bojnordlug.ir/post?id={{post.id}}" target="blank" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i>
                                        <span class="down-mobile">ارسال به توییتر</span></a></li>
                                
                            </ul>
                        </div><!-- end post-sharing -->
                    </div><!-- end title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="{% static 'upload/banner_01.jpg'%}" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="invis1">

                    <div class="custombox authorbox clearfix">
                        <h4 class="small-title">درباره نویسنده</h4>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="{{ post.author.profile.profile_picture.url }}" alt="" class="img-fluid rounded-circle">
                            </div><!-- end col -->

                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <h4><a href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a></h4>
                                <p>{{ post.author.profile.profession }}</p>
                                <!-- TODO: Add author's description here -->
                                </div><!-- end social -->

                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end author-box -->

                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title">شاید برایتان جالب باشد</h4>
                        <div class="row">
                            {%for item in author_Posts%}
                            <div class="col-lg-6">
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="post?id={{item.id}}" title="">
                                            <img src="{{ item.image.url }}" alt="" width="357" height="205" class="img-fluid">
                                            <div class="hovereffect">
                                                <span class=""></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="post?id={{item.id}}" title="">{{item.title}}</a>
                                        </h4>
                                        <small><a href="blog-category-01.html" title="">{{item.author.first_name}} {{ post.author.last_name }}</a></small>
                                        <small><a href="blog-category-01.html" title="">{{item.date}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            </div><!-- end col -->
                            {%endfor%}
                        </div><!-- end row -->
                    </div><!-- end custom-box -->

                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title">{{comments|length}} دیدگاه</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="comments-list">
                                    {%for item in comments%}
                                    <div class="media">
                                        <a class="media-left" href="#">
                                            <img src="{% static 'upload/authorComment.svg'%}" alt="" class="rounded-circle">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading user_name">{{item.author}} <small>{{item.date}} روز قبل</small></h4>
                                            <p>{{item.text}}</p>
                                            <a href="#" class="btn btn-primary btn-sm">پاسخ</a>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end custom-box -->

                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title">دیدگاه جدید</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="new-comment" class="form-wrapper">
                                    {% if not request.user.is_authenticated %}
                                    <input type="text" class="form-control" placeholder="نام شما"
                                    id="comment_name">
                                    <input type="text" class="form-control" placeholder="ایمیل"
                                    id="comment_email">
                                    <input type="text" class="form-control" placeholder="وب سایت"
                                    id="comment_website">
                                    {% else %}
                                    <input type="text" class="hide" value="{{ request.user.first_name }}"
                                    id="comment_name">
                                    <input type="text" class="hide" value="{{ request.user.email }}"
                                    id="comment_email">
                                    <input type="text" value="" class="hide"
                                    id="comment_website">
                                    {% endif %}
                                    <textarea class="form-control" placeholder="پیام شما"
                                    id="comment_message"></textarea>
                                    <div class="g-recaptcha" data-sitekey="6Ldm3dMUAAAAAODnrvSccuuIeGbKNCU6T6rfZomw"></div>
                                    <button type="submit" class="btn btn-primary" id="submit-btn">ارسال دیدگاه</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <h2 class="widget-title">جستجو</h2>
                        <form id="myform" action="/search" method="GET" class="form-inline search-form">
                    
                            <div class="form-group">
                                <input name="search_term" type="text" class="form-control" placeholder="جستجو در سایت" />
                            </div>
                            <button onclick="document.getElementById('myform').submit();" type="submit" class="btn btn-primary"><i
                                    class="fa fa-search"></i></button>
                    
                        </form>
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">پست های اخیر</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                {% for item in latest_Posts %}
                                <a href="post?id={{item.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="{{ item.image.url }}" alt="" height="55" width="55" class="float-left">
                                        <h5 class="mb-1">{{ item.title }}</h5>
                                        <small>{{ item.date }}</small>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">بنر مناسبتی (جشن ۳ سالگی)</h2>
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="{% static 'upload/banner_04.jpg'%}" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">آلبوم تصاویر</h2>
                        <div class="instagram-wrapper clearfix">
                            {%for item in event_images%}
                            <a href="{{ item.image.url }}"><img src="{{ item.image.url }}" alt="" height="80" width="80"></a>
                            {%endfor%}
                        </div><!-- end Instagram wrapper -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">بهترین دسته بندی ها</h2>
                        <div class="link-widget">
                            <ul>
                                {% for category in recent_categories %}
                                <li><a href="category?id={{ category.id }}">{{ category.title }}<span>({{ category.post_set.count }})</span></a></li>
                                {% endfor %}
                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
{% endblock %}